--[[

    本文件仅作为参考，请不要修改本文件
    本文件会在重装、更新时被原版覆盖

--]]

local group, name

group = 'App'
name = 'app.quit(bid)'

return {
	name = string.format('%s - %s', group, name),
	description = "模拟使用上划退出应用程序",
	arguments = {
		{type = 'app'},
	},
	generator = function(bid)
		return string.format('app.quit(%q)', bid)
	end,
}