--[[

    本文件仅作为参考，请不要修改本文件
    本文件会在重装、更新时被原版覆盖

--]]

local group, name

group = '清理'
name = 'clear.app_data(bid)'

return {
	name = string.format('%s - %s', group, name),
	description = "清理某个应用的存档数据",
	arguments = {
		{type = 'app'},
	},
	generator = function(bid)
		return string.format('clear.app_data(%q)', bid)
	end,
}