--[[

    本文件仅作为参考，请不要修改本文件
    本文件会在重装、更新时被原版覆盖

--]]

local group, name

group = '模拟'
name = 'key.press(key)'

return {
	name = string.format('%s - %s', group, name),
	description = "松开按下的物理按键",
	arguments = {
		{type = 'key'},
	},
	generator = function(key)
		return string.format('key.press(%q)', key)
	end,
}