Package: com.trieu.ioscontrol
Name: IOSControl
Depends: mobilesubstrate
Description: iOS automation tweak — touch injection, screen capture, scripting
Maintainer: Trieu
Author: Trieu
Section: Tweaks
Architecture: iphoneos-arm64
Version: 0.1.0-78+debug
Installed-Size: 968
